Repository gisaia/ARLAS-server, pull requests merged in 2018-06, with the labels that each got.

#307 Migrate the OGC related services to the /ogc/ prefix
  arlas-opensearch/src/main/java/io/arlas/server/rest/explore/opensearch/OpenSearchDescriptorService.java
  arlas-tests/src/test/java/io/arlas/server/ogc/wfs/WFSServiceIT.java
  docs/arlas-api-exploration.md
  docs/arlas-api.md
  ogc-csw/src/main/java/io/arlas/server/ogc/csw/CSWService.java
  ogc-csw/src/main/java/io/arlas/server/ogc/csw/operation/opensearch/OpenSearchHandler.java
  ogc-csw/src/main/java/io/arlas/server/ogc/csw/writer/getrecords/AtomGetRecordsMessageBodyWriter.java
  ogc-wfs/src/main/java/io/arlas/server/ogc/wfs/WFSService.java
  scripts/tests-integration-stage.sh
Labels: OGC

#308 Feature/#296 flat map geojson
  arlas-core/src/main/java/io/arlas/server/app/Documentation.java
  arlas-core/src/main/java/io/arlas/server/model/request/Form.java
  arlas-core/src/main/java/io/arlas/server/model/response/AggregationMetric.java
  arlas-core/src/main/java/io/arlas/server/services/ExploreServices.java
  arlas-core/src/main/java/io/arlas/server/utils/MapExplorer.java
  arlas-rest/src/main/java/io/arlas/server/rest/explore/aggregate/GeoAggregateRESTService.java
  arlas-rest/src/main/java/io/arlas/server/rest/explore/search/GeoSearchRESTService.java
  arlas-tests/src/test/java/io/arlas/server/AbstractTestContext.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AbstractAggregatedTest.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AbstractFilteredTest.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AbstractProjectedTest.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AbstractSizedTest.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AbstractSortedTest.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AggregateServiceIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoAggregateServiceFlatPropertyMapIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoAggregateServiceIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoSearchServiceFlatPropertyMapIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoSearchServiceIT.java
  arlas-tests/src/test/java/io/arlas/server/utils/MapExplorerTest.java
  arlas-tests/src/test/resources/flatMapTest.json
  docs/arlas-api-exploration.md
Labels: API

#310 Update CHANGELOG manually
  CHANGELOG.md
Labels: type:maintenance

#314 Remove 7.6.0 from changelog
  CHANGELOG.md
Labels: type:maintenance

#315 Put multiple Metrics within a single aggregation
  arlas-core/src/main/java/io/arlas/server/model/response/AggregationResponse.java
  arlas-core/src/main/java/io/arlas/server/services/ExploreServices.java
  arlas-rest/src/main/java/io/arlas/server/rest/explore/aggregate/GeoAggregateRESTService.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/AggregateServiceIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoAggregateServiceFlatPropertyMapIT.java
  arlas-tests/src/test/java/io/arlas/server/rest/explore/GeoAggregateServiceIT.java
Labels: API
